<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Loja</ion-title>
  </ion-toolbar>
  <!-- <ion-searchbar></ion-searchbar> -->
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="emoji">
          <ion-card-header>
            <ion-card-subtitle>Emoji</ion-card-subtitle>
            <ion-card-title><img src={{emojiMorto}} alt="Avatar" class="avatar" /></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="moldura">
          <ion-card-header>
            <ion-card-subtitle>Moldura</ion-card-subtitle>
            <ion-card-title><img src={{molduraCoracao}} alt="Avatar" class="avatar" /></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="talisma">
          <ion-card-header>
            <ion-card-subtitle>Talismã</ion-card-subtitle>
            <ion-card-title><img src={{avatarPath}} alt="Avatar" class="avatar" /></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="avatar">
          <ion-card-header>
            <ion-card-subtitle>Avatar</ion-card-subtitle>
            <ion-card-title><img src={{avatarRobo}} alt="Avatar" class="avatar" /></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="avatar">
          <ion-card-header>
            <ion-card-subtitle>Background</ion-card-subtitle>
            <ion-card-title><img src={{backgroud001}} alt="Avatar" class="avatar" /></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
