#logo{
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10%;
  margin-bottom: 50px;
}

#link-cadastro {
  margin-left: 33%;
  // width: 50%;
  padding: 10px;
}
